* {
    font-family: sans-serif;
    --c-darkest: #333333;
    --c-dark: #505050;
    --c-grey: #969696;
    --c-primary: #F3AC43;
    --c-secondary: #F7D5A2;
    --c-light: #EBEBEB;
    --c-lightest: #F6F6F6;
    --c-accent: #8337E1;
    color: var(--c-light);
    font-size: inherit;
    ::selection {
        color: var(--c-light);
        background: var(--c-accent);
    }
}

a {
    text-decoration: none;
    color: var(--c-dark);
}

a:hover {
    color: var(--c-darkest);
}

body {
    background-color: var(--c-darkest);
    margin: 0pt;
}

header {
    padding: 5pt 0pt;
    background-color: var(--c-secondary);
    min-width: fit-content;

    * {
        margin: 0; /* removes default margins from text */
    }

    .navbar {
        min-width: 375pt;
        max-width: 500pt;
        padding: 0pt 15pt;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 16pt;
        user-select: none;

        a.logo {
            display: inline-block;
            padding: 8pt 15pt;
            background-color: var(--c-primary);
            border-radius: 50%;
            width: fit-content;
            margin: 0pt;

            h1 {
                color: var(--c-lightest);
            }
        } .links .dropdown-container {
            display: inline-block;
        } a {
            display: inline-block;
            margin: 8pt;
        } .dropdown-content {
            a {
                display: block;
                margin: 0pt;
                padding: 6pt 8pt;
            }
            a:hover {
                background-color: var(--c-accent);
                color: var(--c-light);
            }
        }
    }
}

.dropdown-container {
    position: relative;

    .dropdown-content {
        display: none;
        font-size: 12pt;
        position: absolute;
        z-index: 1;
        background-color: var(--c-primary);
    }
}

.dropdown-container:hover .dropdown-content {
    display: block;
}

.page-content {
    max-width: 500pt;
    min-width: 375pt;
    padding: 15pt 15pt 35pt 15pt;
    margin: auto;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 10pt;
    * {
        color: var(--c-grey);
    }
    a {
        color: var(--c-secondary);
    }
    a:hover {
        color: var(--c-primary);
    }
    .footer-items {
        width: fit-content;
        margin: auto;
        display: flex;
    }
}